.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec1_overview.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec2_outliers.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec3_univariate.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec4_bivariate.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec5a_correlation.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec5b_advanced.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec6_stats.png c:\Users\Sonal Thorat\OneDrive\Documents\HR-analytics imp informantions\files\sec7_insights.png